* {
  margin: 0;
  padding: 0; 
}

body {
  font-family: Arial, sans-serif;
}

.navigation {
  margin-top: 25px;
  height: 74px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
  color: #FF4081; 
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: #333; 
}

.nav-left ul li a:hover {
  color: #FF4081; 
  font-weight: bold;
}

.home-articles {
  padding: 18px;
  background-color: #FFCDD2; 
  margin-top: 23px;
  position: relative;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: #333; 
}

.footer {
  height: 50px;
  background-color: #FF4081; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}
